@page "/"
@using CatFactApp.Services
@inject HttpClient httpclient
@inject IFileService fileService
<PageTitle>Index</PageTitle>

<h1>CatFactApp</h1>

<button @onclick="GetCatFact" class="btn btn-primary">Get and Save Cat Fact</button>

@if (catFact != null)
{
    <p>@catFact.Fact @catFact.Length</p>
}

@code{
    private CatFact? catFact;

    private class CatFact
    {
        public string Fact { get; set; } = default!;
        public int Length { get; set; }
    }
    private async Task GetCatFact()
    {
        var response = await httpclient.GetAsync("https://catfact.ninja/fact");
        var fact = await response.Content.ReadFromJsonAsync<CatFact>();

        if (fact != null)
        {
            catFact = fact;
            await SaveCatFact();
        }
    }
    private async Task SaveCatFact()
    {
        await fileService.Write("catFact.txt", $"{catFact!.Fact} {catFact.Length}");
    }

}   